<div id="single-post-content" class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="posted-by">Posted by <%= @slot.user.name %></div>
      <h3><%= @slot.title %></h3>
      <p><%= @slot.start_at %></p>
    </div>
  </div><!-- row -->
</div>
