<div class="container">
  <div class="form-row">
    <div class="col-sm-8 col-sm-offset-3">
      <ul class="list-group text-danger mb-3">
        <li class="list-group-item">Slot has been went under Approval</li>
      </ul>
      <div class="col-sm-2">
        <strong>Bid:</strong>
        <p><%= @bid.id %></p>
      </div>
      <div class="col-sm-2">
        <strong>Status:</strong>
        <p><%= @bid.status %></p>
      </div>
    </div>

  </div>
</div>