* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: $backgroundColor;
  font-size: 14px;
  font-size: 1.4rem;
}

h1 {
  font-size: 24px;
  font-size: 2.4rem;
}

i {
  width: 26px;
}

ul {
  list-style-type: none;
}

a:hover, a:active, a:link, a:visited {
  text-decoration: none;
}

.container {
  padding: 0;
}

.row {
  margin: 0;
}
//.control-label {
//  display: none;
//}


.login-button, .sign-up-button {
  background-color: $navbarColor;
  color: white !important;
}

.card {
  .card-overlay {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.75);
    justify-content: center;
    align-items: center;
  }
  .card-body {
    img {
      max-width: 100%;
    }
    .card-alternative {
      background-color: #f7f7f7;
    }
  }
}
.form-row{
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.form-group input.form-control{
  line-height: 1.5!important;
  color:#2C4159 !important;
  padding: 9px 8px 6px 8px;
  -webkit-font-smoothing: antialiased;
  border-width: 2px!important;
  border-style: solid;
  border-color: rgb(236, 238, 242);
  /* border-image: initial; */
  border-radius: 2px!important;
  outline: none!important;
  height: auto;
  box-shadow: unset!important;
  -webkit-appearance:none!important;
  font-weight: 500;
  font-size: 13px;
}
.form-group input.form-control:focus{
  border-color: #2C4159!important;
}


.bootstrap-datetimepicker-widget.dropdown {
  background: white !important;
}



