* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: $backgroundColor;
  font-size: 14px;
  font-size: 1.4rem;
}

h1 {
  font-size: 24px;
  font-size: 2.4rem;
}

i {
  width: 26px;
}

ul {
  list-style-type: none;
}

a:hover, a:active, a:link, a:visited {
  text-decoration: none;
}

.container {
  padding: 0;
}

.row {
  margin: 0;
}
//.control-label {
//  display: none;
//}


.login-button, .sign-up-button {
  background-color: $navbarColor;
  color: white !important;
}

.card {
  .card-overlay {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.75);
    justify-content: center;
    align-items: center;
  }
  .card-body {
    img {
      max-width: 100%;
    }
    .card-alternative {
      background-color: #f7f7f7;
    }
  }
}
.form-row{
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}


.bootstrap-datetimepicker-widget.dropdown {
  background: white !important;
}

